body {
    margin: 0;
    height: 100vh;
    background-color: rgb(43,71,185);
    display: flex;           
    justify-content: center;
    align-items: center;
}

#itAll {
    display: flex;
    flex-direction: column;  
}

#signInAll {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-style: solid;
    border-color: white;
    padding: 20px;
    width: 300px;
    height: 237.67px;
    left: calc(50% - 300px/2 - 14px);
    top: calc(50% - 237.67px/2 + 56.17px);
    font-size: 20px;
    padding: 50px;

    
}
#forgot {
    display: flex;
    color: white;
text-align: center
;}

#usernameDiv {
display: flex;

width: 300px;
height: 45px;
left: 556px;
top: 417.33px;
border-style: solid ;
padding: 10px;
align-content: center;
color: rgb(217, 214, 214);
text-align: center;
}

#pwDiv {
    width: 300px;
height: 45px;
left: 556px;
top: 417.33px;
border-style: solid ;
padding: 10px;
align-content: center;
color: rgb(217,214,214);
text-align: center;

}



#pInput {
height: 20px ;
width: 200px;
}

#usearch {
height: 20px ;
width: 200px;
}
#loginButton {
    background-color: yellow;
}